@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}
a {
    text-decoration: none;
}
textarea:focus, input:focus, select:focus { /* REMOVE SOMBRA DE BORDAS */
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
button:active, button:focus {
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
* ::-webkit-input-placeholder { /*Altera a cor do texto da input*/
    color:rgb(202, 201, 201); 
 }
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.topo {
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    float: left;
    z-index: 9999;
    position: fixed;
    top: 0;
    padding-top: 10px;
    padding-bottom: 20px; 
    margin: 0 auto;
    box-shadow: 0 2px 3px rgba(0, 0, 0,0.3);
}
@media only screen and (max-width: 500px) { /*500px*/
.topo {
        height: 20%;
}
}
@media only screen and (max-width: 200px) { /*200px*/
.topo {
	height: 30%;
	display: block;
	float: none;
}
}
.topo > .container {
    width: 90%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.topo > .container img{  /*logo*/
    display: block;
    height: 90px;
}
#busca {
    display: flex;
    align-items: center;
}
#busca input {
    border: 1px solid rgba(255, 50, 51, 0.5) ;
	border-radius: 1px;
    height: 1.35em;
}
@media only screen and (max-width: 200px) { /*200px*/
#busca input {
	width: 50%;
}
}
#busca button {
    background-color: rgba(255, 255, 255, 0.001);
    border: none;
    cursor: pointer;
    margin-left: -1px;
}
#busca button img {
    width: 40%;
}
.itenLogin {
	width: 225px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media only screen and (max-width: 500px) { /*----------------Abaixo de 500px---------------------*/
	.itenLogin {
	width: 160px;
}
}

.containerLogin {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.containerLogin img {
	width: 35px;
}
@media only screen and (max-width: 500px) { /*----------------Abaixo de 500px---------------------*/
	.containerLogin img {
		width: 20px;
	}
}

.itenLogin p.login {
	color: rgba(255, 50, 51, 1);
	margin-left: 10px;
	margin-right: -5px;
	font-size: 1em;
}
.itenLogin p.login:hover {
    color: blue;
    transition: 0.5s;
}
@media only screen and (max-width: 500px) { /*----------------Abaixo de 500px---------------------*/
	.itenLogin p.login {
	margin-left: 6px;
	margin-right: -2px;
	font-size: 0.75em;
	}
}
.itenLogin p.paragrafo {
	color: rgb(167, 167, 167);
	font-size: 1em;
}
@media only screen and (max-width: 500px) { /*----------------Abaixo de 500px---------------------*/
	.itenLogin p.paragrafo {
		font-size: 0.75em;
		margin-left: 6px;
	}
}
.itenLogin a.cadastro {
	color: rgba(255, 50, 51, 1);
	margin-left: -3px;
	margin-right: 6px;
	font-size: 1em;
}
@media only screen and (max-width: 500px) { /*----------------Abaixo de 500px---------------------*/
	.itenLogin a.cadastro {
		font-size: 0.75em;
		margin-left: -1px;
		margin-right: 3px;
	}
}
.itenLogin a.cadastro:hover {
    color: blue;
    transition: 0.5s;
}

@media only screen and (max-width: 500px) {
.carrinho {
	width: 100%;
    margin-left: 56%;
    margin-top: -100px;
}
}
.carrinho p {
    color: rgba(255, 50, 51, 1);
	text-align: center;
	font-size: 1em;
}
.itensCarrinho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -25px;
}
.itensCarrinho img {
    width: 30px;
    margin-right: -50px;
}
@media only screen and (max-width: 200px) { /*200px*/
.itensCarrinho img {
	width: 20px;
}
}
.itensCarrinho input {
    width: 50px;
    border: 1px solid rgba(255, 50, 51, 0.5);
}
@media only screen and (max-width: 200px) { /*200px*/
.itensCarrinho input {
	width: 40px;
	margin-left: -50px;
}
}
.televendas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -15px;
}
@media only screen and (max-width: 500px) { /*200px*/
.televendas {
	margin-top: -25px;
}
}
.televendas h3 {
    font-size: 1em;
    color: #ffffff;
    text-shadow: 0.5px 1px 1px rgba(0, 0, 0,0.5);
    margin-right: 15px;
}
@media only screen and (max-width: 200px) { /*200px*/
.televendas h3 {
	font-size: .75em;
	margin-right: -40px;
}
}
.televendas h4 {
    font-size: 1em;
    color: rgba(255, 50, 51, 1);
}
@media only screen and (max-width: 200px) { /*200px*/
.televendas h4 {
	font-size: .75em;
}
}
/*-------------------------------------------------Banner-----------------------------------------------*/
main {
    padding: 0 150px;
}
.galeriaBanner {
    margin-top: 122px;
    margin-left: -2px;
    position: relative;
    overflow: hidden;
}
@media only screen and (max-width: 750px) {
.galeriaBanner {
    width: 100%;
    margin-top: 210px;
}
}
.galeriaBanner img {
    width: 100%;
}

/*------------------------------------------------Menu------------------------------------------------------*/
.headerSecond {
    width: 100%;
    display: flex;
    margin: 20px 0;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
@media only screen and (max-width: 500px) {
.headerSecond {
    width: 249%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -150px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
}
.headerSecond >.itenMenu{
	width: 250px;
	margin: 10px;
	display: flex;
	justify-content: flex-start;
    align-items: center;
}
@media only screen and (max-width: 500px) {
.headerSecond >.itenMenu {
    width: 200px;
}
}

.itenMenu p {
	font-size: .85em;
	color: rgb(41, 40, 40);
	padding: 2px;
}
@media only screen and (max-width: 739px) {
.itenMenu p {
    font-size: .8em;
}
}
.itenMenu a {
	font-size: 1.25em;
	color: rgba(255, 50, 51, 1);
	padding: 2px;
	font-weight: bolder;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (max-width: 739px) {
.itenMenu a {
    font-size: 0.9em;
}
}
.itenMenu a:hover {
	color: red;
}
.itenMenu a img {
    max-width: 50px;
    margin-right: 10px;
}
@media only screen and (max-width: 739px) {
.itenMenu a img {
    max-width: 30px;
    margin-right: 5px;
}
}
/*-----------------------------------------------Propaganda----------------------------------------------------*/
.propaganda {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media only screen and (max-width: 739px) {
.propaganda {
    display: block;
    width: 100%;
}
}
.propaganda img {
    max-width: 46%;
    box-shadow: 1px 3px 3px rgba(0, 0, 0,0.8);
}
@media only screen and (max-width: 750px) {
.propaganda img {
    min-width: 100%;
    margin-top: 10px;
}
}
/*---------------------------------------Ofertas dia-----------------------------------------------*/
.ofertasDia {
    margin-top: 40px;
}
.tituloProdutos {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 50px;
	align-items: center;
}
.produtosContainner {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}
.tituloProdutos h2 {
	font-size: 1.5em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(255, 50, 51);
}
.tituloProdutos a {
	font-size: 1.15em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: rgb(255, 50, 51);
	font-weight: bolder;
}
.tituloProdutos a:hover {
	color: rgb(255, 0, 0);
}
/*--------------------------------------item 1------------------------------------------*/
.produtosItem1 {
	display: block;
	border: 1px solid #F1F1F1;
	border-radius: 0 0px 9px 9px;
	width: 200px;
	margin-bottom: 60px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.produtosItem1 >h4 {
	margin: 0 auto;
	padding: 2px 0;
	max-width: 80%;
	font-size: 1.2em;
	background-color: rgb(255, 0, 0);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffffff;
	border-radius: 0 0 6px 6px;
}
.itemImage1 {
	width: 80%;
	margin: 0 auto;
}
.itemImage1 img {
	width: 80%;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 18px;
}
.itemDescricao1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.itemDescricao1 h2 {
	background-color: rgb(18, 33, 116);
	color: #ffffff;
	font-size: 1.45em;
	font-weight: normal;
	padding: 3px 5px;
	border-radius: 0 8px 0 0;
}
.itemDescricao1 h3 {
	background-color: rgb(1, 2, 142);
	color: #ffffff;
	font-size: 1.45em;
	font-weight: normal;
	padding: 3px 5px;
	border-radius: 8px 0 0 0;
	margin-left: 2px;
}
p.detalhe1 {
	padding: 2px;
	height: 60px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	color: rgb(18, 33, 116);
}
hr {
	width: 200px;
	border: 0;
	border-top: 3px solid #E7E7E7;
	margin-left: -20px;
	margin-bottom: 15px;
}
.valorProd1 {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
}
.valorUnit1 {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
p.valor2 {
	color:blue;
	font-weight: bold;
}

/*--------------------------------------item 2------------------------------------------*/
.produtosItem2 {
	display: block;
	border: 1px solid #F1F1F1;
	border-radius: 0 0px 9px 9px;
	width: 200px;
	margin-bottom: 60px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.produtosItem2 >h4 {
	margin: 0 auto;
	padding: 2px 0;
	max-width: 80%;
	font-size: 1.2em;
	background-color: rgb(255, 0, 0);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffffff;
	border-radius: 0 0 6px 6px;
}
.itemImage2 {
	width: 80%;
	margin: 0 auto;
}
.itemImage2 img {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 10px;
}
.itemDescricao2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.itemDescricao2 h2 {
	background-color: #841A25;
	color: #ffffff;
	font-size: 1.45em;
	font-weight: normal;
	padding: 3px 5px;
	border-radius: 0 8px 0 0;
}
.itemDescricao2 h3 {
	background-color: rgb(0, 0, 0);
	color: #ffffff;
	font-size: 1.45em;
	font-weight: normal;
	padding: 3px 5px;
	border-radius: 8px 0 0 0;
	margin-left: 2px;
}
p.detalhe2 {
	padding: 9px 0;
	height: 60px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	color: #841A25;
}
hr.dois {
	width: 200px;
	border: 0;
	border-top: 3px solid #E7E7E7;
	margin-bottom: 15px;
}
.valorProd2 {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
}
.valorUnit2 {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
p.valor2 {
	color:blue;
	font-weight: bold;
}
/*--------------------------------------item 3------------------------------------------*/
.produtosItem3 {
	display: block;
	border: 1px solid #F1F1F1;
	border-radius: 0 0px 9px 9px;
	width: 200px;
	margin-bottom: 60px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.produtosItem3 >h4 {
	margin: 0 auto;
	padding: 2px 0;
	max-width: 80%;
	font-size: 1.2em;
	background-color: rgb(0,0,225);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffffff;
	border-radius: 0 0 6px 6px;
}
.itemImage3 {
	width: 80%;
	margin-left: 10px;
}
.itemImage3 img {
	width: 110%;
	margin-top: 15px;
	margin-bottom: 10px;
}
.itemDescricao3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.itemDescricao3 h2 {
	background-color: #02A892;
	color: #ffffff;
	font-size: 1.45em;
	font-weight: normal;
	padding: 3px 5px;
	border-radius: 0 8px 0 0;
}
.itemDescricao3 h3 {
	background-color: #0C426F;
	color: #ffffff;
	font-size: 1.25em;
	font-weight: normal;
	padding: 3px 5px;
	border-radius: 8px 0 0 0;
	margin-left: 2px;
}
p.detalhe3 {
	padding: 2px;
	height: 60px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	color: #02A892;
}
hr.tres {
	width: 200px;
	border: 0;
	border-top: 3px solid #E7E7E7;
	margin-left: -10px;
	margin-bottom: 15px;
}
.valorProd3 {
	display: flex;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
	padding-left: 5px;
	text-decoration: line-through ;

}
.valorUnit3 {
	display: flex;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	padding-left: 5px;

}
p.valor3 {
	color:blue;
	font-weight: bold;
}
.valorDesconto {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
p.percent {
	color: #ffffff;
	background-color: #02A892;
	padding: 5px 25px;
	margin-left: 23.5%;
	border-radius: 6px 0 0 6px;
}
/*--------------------------------------item 4------------------------------------------*/
.produtosItem4 {
	display: block;
	border: 1px solid #F1F1F1;
	border-radius: 0 0px 9px 9px;
	width: 200px;
	margin-bottom: 60px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.itemImage4 {
	width: 80%;
	margin-left: 10px;
}
.itemImage4 img {
	width: 75%;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 25px;
}
.itemDescricao4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
}
.itemDescricao4 h2 {
	background-color: #E6007C;
	color: #ffffff;
	font-size: .83em;
	font-weight: normal;
	padding: 3px 10px;
	border-radius: 0 8px 0 0;
	text-align: center;
}
.itemDescricao4 h3 {
	background-color:#FBD9EA;
	color: #E6007C;
	font-size: 1.25em;
	font-weight: normal;
	padding: 6px 5px;
	border-radius: 8px 0 0 0;
	margin-left: 10px;
}
p.detalhe4 {
	font-size: 1em;
	color: #E6007C;
	padding: 12px 0;
}
hr.quatro {
	width: 200px;
	border: 0;
	border-top: 3px solid #E7E7E7;
	margin-left: -10px;
	margin-bottom: 15px;
}
.valorProd4 {
	display: flex;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
	padding-left: 5px;
	text-decoration: line-through ;

}
.valorUnit4 {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	padding-left: 5px;

}
p.valor4 {
	color: blue;
	font-weight: bold;
	font-size: 1.5em;
	padding: 12px 0;
	text-align: center;
}
/*--------------------------------------item 5------------------------------------------*/
.produtosItem5 {
	display: block;
	border: 1px solid #F1F1F1;
	border-radius: 0 0px 9px 9px;
	width: 200px;
	margin-bottom: 60px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.itemImage5 {
	width: 80%;
	margin-left: 10px;
}
.itemImage5 img {
	width: 80%;
	margin-top: 15px;
	margin-bottom: 10px;
}
.itemDescricao5 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
	margin-left: 15px;
}
.itemDescricao5 h2 {
	background-color: #516D85;
	color: #ffffff;
	font-size: 1.45em;
	font-weight: normal;
	padding: 3px 20px;
	border-radius: 0 8px 0 0;
}
.itemDescricao5 h3 {
	background-color: #1D2143;
	color: #ffffff;
	font-size: 1.25em;
	font-weight: normal;
	padding: 3px 10px;
	border-radius: 8px 0 0 0;
	margin-left: 10px;
}
p.detalhe5 {
	padding: 8px 0;
	height: 60px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	color: #1D2143;
}
hr.cinco {
	width: 200px;
	border: 0;
	border-top: 3px solid #E7E7E7;
	margin-left: -10px;
	margin-bottom: 15px;
}
.valorProd5 {
	display: flex;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
	padding-left: 5px;
	text-decoration: line-through ;

}
.valorUnit5 {
	display: flex;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	padding-left: 5px;

}
p.valor5 {
	color:blue;
	font-weight: bold;
}
.valorDesconto {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
p.percent5 {
	color: #ffffff;
	background-color: #1D2143;
	padding: 5px 25px;
	margin-left: 29%;
	border-radius: 6px 0 0 6px;
}

/*--------------------------------------item 6------------------------------------------*/
.produtosItem6 {
	display: block;
	border: 1px solid #F1F1F1;
	border-radius: 0 0px 9px 9px;
	width: 200px;
	margin-bottom: 60px;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.itemImage6 {
	width: 80%;
	margin-left: 10px;
}
.itemImage6 img {
	width: 70%;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 35px;
}
.itemDescricao6 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 10px;
}
.itemDescricao6 h2 {
	background-color: #ABABAB;
	color: #ffffff;
	font-size: 1.5em;
	font-weight: normal;
	padding: 3px 8px;
	border-radius: 0 8px 0 0;
	text-align: center;
}
.itemDescricao6 h3 {
	background-color:#576067;
	color: #ffffff;
	font-size: 1.25em;
	font-weight: normal;
	padding: 3px 10px;
	border-radius: 8px 0 0 0;
	margin-left: 10px;
}
p.detalhe6 {
	font-size: 1em;
	color: #576067;
	padding: 33px 0;
}
hr.seis {
	width: 200px;
	border: 0;
	border-top: 3px solid #E7E7E7;
	margin-left: -10px;
	margin-bottom: 15px;
}
.valorProd6 {
	display: flex;
	justify-content: left;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0;
	padding-left: 5px;
	text-decoration: line-through ;

}
.valorUnit6 {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	padding-left: 5px;

}
p.valor6 {
	color: blue;
	font-weight: bold;
	font-size: 1.5em;
	padding: 12px 0;
	text-align: center;
}


















